<h2 class="gpiic-requestSummary-header"></h2>

<ul class="gpiic-requestSummary-requests gpii-requestsSummary-requests gpii-list-unstyled">
    <li class="gpiic-requestSummary-request fl-clearfix">
        <span class="fl-force-left">
            <span class="gpiic-requestSummary-requestIcon"></span>
            <span class="gpiic-requestSummary-requestName"></span>
        </span>

        <span class="gpii-requestSummary-count fl-force-right">
            <span class="gpiic-requestSummary-requestCount"></span>
            <button class="gpiic-requestSummary-vote gpii-requestSummary-vote"></button>
        </span>
    </li>
</ul>
